/**
 * Fonts
 * */
@font-face {
    font-family: "Lexend";
    src: url(/assets/lexend.ttf) format("truetype");
}

/**
 * Global page configurations and resets
 * */
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Lexend', Roboto, sans-serif;
}

/**
 * Input resets and global sytles
 * */
input, textarea, button {
	display: inline-block;
	font-family: fantasy;
	font-size: 1em;
	background: white;
	border: 1px solid gray;
	padding: 10px 20px;
	outline: none;
}

textarea {
	min-height: calc(22px + 1em);
	min-width: calc(42px + 1em);
}

button, input[type=button], input[type=submit], input[type=reset], input[type=image] {
	border-radius: 5px;
	background: whitesmoke;
}

/*
input[type=text], 
input[type=email],
input[type=password], 
input[type=number],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
textarea {
	appearance: textfield;
	border: none;
	background: #D9D9D975;
	border-radius: 10px;
	border-bottom: 4px solid black;
	margin-bottom: 4px;
}

button, input[type=button], input[type=submit], input[type=reset], input[type=image] {
	background: #3A7A3C;
	border-radius: 10px;
	color: white;
}
*/

::placeholder {
	text-align: center;
}

/**
 * Forms reset and style
 * */
form {
	display: flex;
	flex-flow: column nowrap;
	margin: 8px;
}

form .field {
	flex: 1 1 auto;
	margin-bottom: 4px;
}

form .field label {
	display: block;
}

form .field input, 
form .field textarea, 
form .field button {
	display: block;
}

