/**
 * Fonts
 * */
@font-face 
{
    font-family: "Lexend";
    src: url(/assets/lexend.ttf) format("truetype");
}

/**
 * Global page configurations and resets
 * */
*
{
	box-sizing: border-box;
	margin: 0;
}

body 
{
	margin: 0;
	font-family: 'Lexend', Roboto, sans-serif;
}

h1
{
	font-weight: bold;
}

/**
 * Input resets and global sytles
 * */
input, textarea, button 
{
	appearance: textfield;
	display: inline-block;
	font-family: fantasy;
	font-size: 1em;
	background: white;
	border: 1px solid gray;
	padding: 6px 12px;
	outline: none;
}

textarea 
{
	min-height: calc(14px + 1em);
	min-width: calc(26px + 1em);
}

button, 
input[type=button], 
input[type=submit], 
input[type=reset], 
input[type=image] 
{
	appearance: button;
	border-radius: 5px;
	background: whitesmoke;
}

main 
{
	margin: 8px;
}

/**
 * Forms reset and style
 * */
form 
{
	display: flex;
	flex-flow: column nowrap;
	margin: 8px;
}

form .field 
{
	flex: 1 1 auto;
	margin-bottom: 4px;
}

form .field label 
{
	display: block;
}

form .field input, 
form .field textarea, 
form .field button 
{
	display: block;
}

