#madoff-header
{
	width: 100vw;
	height: 4rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 5%;
}

#madoff-header .brand
{
	font-size: 1.5rem;
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

#madoff-header .brand .logo 
{
	margin-right: 1em;
}

#madoff-header .navbar
{
	flex: 0 1 auto;
	display: flex;
	flex-flow: row nowrap;
	gap: 1em;
}

#madoff-header .navbar a.item
{
	text-decoration: none;
	padding: 0.5em;
	color: #3a7a3c;
}

#user-nav
{
	transform: translate(-50%, -50%);
	flex-flow: column nowrap;
	border-radius: 50px;
	background: #3a7a3c;
	position: fixed;
	display: flex;
	padding: 10px;
	z-index: 10;
	left: 5%;
	top: 50%;
	gap: 1em;
}

#user-nav a.item 
{
	text-decoration: none;
	padding: 10px;
	color: white;
}
