<img src="/assets/logo.svg" alt="Madoff Logo" class="centered">
<h1 class="title">Acerca de nosotros</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Libero nunc consequat interdum varius 
    sit. Ut sem viverra aliquet eget sit. Magna sit amet purus gravida. Vivamus arcu 
    felis bibendum ut tristique et egestas quis ipsum. Fusce ut placerat orci nulla 
    pellentesque dignissim enim sit. Venenatis lectus magna fringilla urna porttitor 
    rhoncus. Ut sem nulla pharetra diam sit. Porta lorem mollis aliquam ut porttitor 
    leo. Vestibulum rhoncus est pellentesque elit. Dictum non consectetur a erat nam at 
    lectus. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. 
    Suscipit adipiscing bibendum est ultricies. Senectus et netus et malesuada fames ac 
    turpis egestas. Arcu ac tortor dignissim convallis aenean.
    Lectus sit amet est placerat in egestas erat imperdiet sed. Cursus in hac habitasse 
    platea dictumst. Turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet. In hac 
    habitasse platea dictumst quisque sagittis. Pretium fusce id velit ut. Ornare arcu 
    dui vivamus arcu felis. Malesuada bibendum arcu vitae elementum curabitur. Ut 
    consequat semper viverra nam. Dolor sit amet consectetur adipiscing elit pellentesque 
    habitant morbi tristique. Fringilla est ullamcorper eget nulla facilisi etiam 
    dignissim diam. Velit dignissim sodales ut eu sem integer vitae. Eu consequat ac felis 
    donec et. Quis varius quam quisque id. Id porta nibh venenatis cras sed felis.
</p>
<h5 class="subtitle-5">Bernard Lawrence "Bernie" Madoff fue un inversionista, asesor de inversiones y financiero estadounidense.</h5>
<img src="/assets/madoff.webp" alt="Bernie Madoff" class="fullw" loading="lazy" height="500">
